* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #6096b4, #5592b3, #146c94, #00326b);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
