* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #6096b4, #5592b3, #146c94, #00326b);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 1.5rem;
    color: aliceblue;
}

#form-container {
    padding: 25px 0;
    border: none;
    border-radius: 15px;
    max-width: 1000px;
    min-width: 300px;
    width: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px;
    background-color: #00326b;
}

#login-card ul {
    list-style: none;
    margin-bottom: 1.5rem;
}

#login-card ul li {
    display: inline-flex;
    margin: 10px 0;
}

#login-card ul li.active a {
    background-color: rgba(0, 136, 169, 0.5);
}

#login-card ul li a {
    color: aliceblue;
    padding: 15px 35px;
    margin: 0 45px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#login-card ul li a:hover {
    background-color: rgba(0, 136, 169, 0.5);
}

a {
    text-decoration: none;
    transition: 0.5s ease;
}

.content {
    display: none;
}

.content.active {
    display: flex;
    flex-direction: column;
}

.form {
    align-self: center;
    max-width: 400px;
    min-width: 400px;
    display: inherit;
    flex-direction: inherit;
    text-decoration: none;
}

.form > h1 {
    margin-bottom: 3rem;
}

.form label {
    font-size: 20px;
    color: aliceblue;
}

input {
    padding-top: 10px;
    margin-bottom: 2rem;
    font-size: 18px;
    text-align: center;
    border: none;
    color: rgba(255, 255, 255, 0.789);
    background-color: #00326b;
    border-bottom: 2px solid rgba(0, 136, 169, 0.5);
}

input:is(:focus, :active) {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(0, 136, 169, 0.5);
    -webkit-box-shadow: 0 0 0px rgba(0, 136, 169, 0.5) inset;
    transition: background-color 5000s ease-in-out 0s;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: aliceblue;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}
