@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-nav li,
#main-nav a,
#main-nav button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#main-nav button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#main-nav button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #00326b;
}

#main-nav .logo {
    cursor: pointer;
}

#main-nav .navlinks {
    list-style: none;
}

#main-nav .navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

#main-nav .navlinks li a {
    transition: all 0.3s ease 0s;
}

#main-nav .navlinks li a:hover {
    color: #bdcdd6;
    border-bottom: 1.5px solid #8c989e;
}
